<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body>
    <%- include('user') %>
    <div class="w100 flex">

        <h2>Matchs:</h2>
    </div>
    <ul class="matchs">
        <% for(const match of matchs){ %>
            <li class="match">
                <a href="/matchs/<%=match._id%>"><%=match.team1%>-<%=match.team2%></a>
            </li>
        <% } %>
    </ul>
</body>
</html>