* {
    margin: 3px;
    padding: 3px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.w100{
    width: 100%;
}

.w50 {
    width: 50%;
}

.w25 {
    width: 25%;
}

.matches > li {
    list-style-type: none;
}